[submodule "torchimize_repo"]
	path = torchimize_repo
	url = https://github.com/hahnec/torchimize
[submodule "core/RAFT"]
	path = core/RAFT
	url = https://github.com/aimi-lab/RAFT.git
[submodule "core/ddn"]
	path = core/ddn
	url = https://github.com/anucvml/ddn.git
[submodule "core/RAFT3D"]
	path = core/RAFT3D
	url = https://github.com/aimi-lab/RAFT-3D.git
